/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
 Defines input files and everything required to run a fast and simple pipeline test.

*/

process {

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_RESEARCH' {
      ext {
         prefix = { "${meta.id}_research" }
         args = """ --output-type z --write-index=tbi --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == ".")' """
         //args = """ --output-type z --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == ".") && (INFO/SWEGENAF <= 0.01 || INFO/SWEGENAF == ".")' """
         //TODO : use above filtering parameters when annotation is in place
      }
   }

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_CLINICAL' {
      ext {
         prefix = { "${meta.id}_clinical" }
         args = """ --output-type z --write-index=tbi --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == ".")' """
         //args = """ --output-type z --include '(INFO/ArtefactFrq <= 0.1 || INFO/ArtefactFrq == ".") && (INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == ".") && (INFO/SWEGENAF <= 0.01 || INFO/SWEGENAF == ".") && (INFO/Frq <= 0.007 || INFO/Frq == ".")' """
         //TODO : use above filtering parameters when annotation is in place
      }
   }
}
