/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
 Defines input files and everything required to run a fast and simple pipeline test.

*/

process {

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_RESEARCH' {
        ext.prefix = { "${meta.id}_research" }
        ext.args   = {
            ["${params.extra_args_snv_research_filter}",
            ' --output-type z --write-index=tbi '].join(' ')
        }
   }

   withName: '.*PROCESS_SNVS:ENSEMBLVEP_VEP' {
        ext.prefix = { "${meta.id}_vep" }
        ext.args   = { [
            "${params.extra_args_snv_vep}",
            '--everything --hgvsg --allow_non_variant --dont_skip --variant_class --verbose',
            '--vcf --buffer_size 20000 --max_sv_size 248956422',
            '--format vcf --offline --merged  --cache --force_overwrite'
        ].join(' ') }
   }

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_CLINICAL' {
        ext.prefix = { "${meta.id}_clinical" }
        ext.args   = { [
            "${params.extra_args_snv_clinical_filter}",
            " --output-type z --write-index=tbi "
        ].join(' ') }
   }

}
