/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
 Defines input files and everything required to run a fast and simple pipeline test.

*/

process {


}
