/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
 Defines input files and everything required to run a fast and simple pipeline test.

*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    config_profile_name          = 'Test profile'
    config_profile_description   = 'Minimal test dataset to check pipeline function'
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/Clinical-Genomics/test-datasets/60a4ba9429f86a715fd07000b348cc6433c1c5d4/'
}


// Same Nextflow version as nextflow.config
manifest {
    nextflowVersion = '!>=25.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: 'PROCESS_SVS:ENSEMBLVEP_VEP' {
        ext.args = { [
            '--dir_cache cache',
            '--dir_plugins cache/Plugins',
            '--plugin pLI,pLI_values.txt',
            '--appris --biotype --buffer_size 100 --canonical --cache --ccds',
            '--compress_output bgzip --distance 5000 --domains',
            '--exclude_predicted --force_overwrite --format vcf',
            '--hgvs --humdiv --max_sv_size 248956422 --merged',
            '--no_progress --numbers --per_gene --polyphen p',
            '--protein --offline --regulatory --sift p',
            '--symbol --tsl --uniprot --vcf',
            '--pick --pick_order mane_select,mane_plus_clinical,canonical,appris,tsl,biotype,ccds,rank,length,ensembl,refseq'
        ].join(' ') }
    }
}
