/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
 Defines input files and everything required to run a fast and simple pipeline test.

*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    config_profile_name          = 'Test profile'
    config_profile_description   = 'Minimal test dataset to check pipeline function'
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/Clinical-Genomics/test-datasets/a0b1a0c806be5823377671bba35eb22f2e28956d/'
}


// Same Nextflow version as nextflow.config
manifest {
    nextflowVersion = '!>=25.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

process {

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_RESEARCH' {
      ext {
         prefix = { "${meta.id}_research" }
         args = """ --output-type z --write-index=tbi --include '(INFO/GNOMADAF_popmax <= 0.001 || INFO/GNOMADAF_popmax == ".")' """
         //args = """ --output-type z --include '(INFO/GNOMADAF_popmax <= 0.001 || INFO/GNOMADAF_popmax == ".") && (INFO/SWEGENAF <= 0.01 || INFO/SWEGENAF == ".")' """
         //TO DO down the line: use above filtering parameters when annotation is in place
      }
      publishDir = [
            path: { "${params.outdir}/research_filtering" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
   }

       withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_CLINICAL' {
      ext {
         prefix = { "${meta.id}_clinical" }
         args = """ --output-type z --write-index=tbi --include '(INFO/GNOMADAF_popmax <= 0.001 || INFO/GNOMADAF_popmax == ".")' """
         //args = """ --output-type z --include '(INFO/ArtefactFrq <= 0.1 || INFO/ArtefactFrq == ".") && (INFO/GNOMADAF_popmax <= 0.001 || INFO/GNOMADAF_popmax == ".") && (INFO/SWEGENAF <= 0.01 || INFO/SWEGENAF == ".") && (INFO/Frq <= 0.007 || INFO/Frq == ".")' """
         //TO DO down the line: use above filtering parameters when annotation is in place
      }
      publishDir = [
            path: { "${params.outdir}/clinical_filtering" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
   }

}