/*
Annotate with CADD
*/


process {

    withName: '.*:ANNOTATE_CADD:.*' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:ANNOTATE_CADD:BCFTOOLS_RENAME_CHR_CADD' {
        ext.args   = { "--output-type z" }
        ext.prefix = { "${input.simpleName}_indels" }
    }

    withName: '.*:ANNOTATE_CADD:BCFTOOLS_VIEW' {
        ext.args   = { "--output-type z --types indels,other" }
        ext.prefix = { "${vcf.simpleName}_indels" }
    }

    withName: '.*:ANNOTATE_CADD:CADD' {
        ext.args   = { "-g ${params.genome}" }
        ext.prefix = { "${vcf.simpleName}_cadd" }
    }

    withName: '.*:ANNOTATE_CADD:TABIX_CADD' {
        ext.args = { "--force --sequence 1 --begin 2 --end 2" }
    }

    withName: '.*:ANNOTATE_CADD:GAWK_CADD_TO_REF_CHRNAMES' {
        ext.args2 = '\'{original=$1; sub("chr","",$1); print $1, original}\''
        ext.prefix = "cadd_to_reference"
        ext.suffix = "txt"
    }

    withName: '.*:ANNOTATE_CADD:GAWK_REF_TO_CADD_CHRNAMES' {
        ext.args2 = '\'{original=$1; sub("chr","",$1); print original, $1}\''
        ext.prefix = "reference_to_cadd"
        ext.suffix = "txt"
    }

    withName: '.*:ANNOTATE_CADD:BCFTOOLS_ANNOTATE_INDELS' {
        ext.args   = { "--columns Chrom,Pos,Ref,Alt,-,CADD --output-type z --write-index=tbi" }
        ext.prefix = { "${input.simpleName}_ann" }
        publishDir = [
            path: { "${params.outdir}/annotations" },
            mode: params.publish_dir_mode ]
    }
}
