/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// VCF2Cytosure workflow options
//

process {
    withName: '.*GENERATE_CYTOSURE_FILES:.*' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: '.*GENERATE_CYTOSURE_FILES:FILTER_VCF' {
        ext.args = { [
                '--exclude \'SVTYPE=="SGL"\'',
                '--output-type v',
            ].join(' ') }
    }

    withName: '.*GENERATE_CYTOSURE_FILES:VCF2CYTOSURE' {
        ext{
            args = { [
                "--bins 20",
                "--sex ${params.sex}",
                "--genome ${params.genome_version_number}"
            ].join(' ') }
            prefix = { "${meta2.sample_type}" }
        }
        publishDir = [
            path: { "${params.outdir}/vcf2cytosure" }
        ]
    }

}
