/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:PREPARE_AMBER_COBALT_FOR_GENS:PREPARE_AMBER_FOR_GENS' {
        ext.prefix = { "${meta.id}_CNV_BAF_AMBER_FOR_GENS" }
    }

    withName: '.*:PREPARE_AMBER_COBALT_FOR_GENS:PREPARE_COBALT_FOR_GENS' {
        ext.prefix = { "${meta.id}_${meta.sample_type}_CNV_COV_COBALT_FOR_GENS" }
    }

}
