/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*:PROCESS_SNVS:VCFANNO' {
        ext.prefix = { "${meta.case_id}_SNV_annotated_vcfanno" }
    }

    withName: '.*:PROCESS_SNVS:BCFTOOLS_VIEW_RESEARCH' {
        ext.prefix = { "${meta.case_id}_SNV_research_filtered_bcftools" }
        ext.args   = { [
            "${params.extra_args_snv_research_filter}",
            " --output-type z --write-index=tbi "
        ].join(' ') }
    }

    withName: '.*:PROCESS_SNVS:ENSEMBLVEP_VEP' {
        ext.prefix = { "${meta.case_id}_SNV_annotated_vep" }
        ext.args   = { [
            "${params.extra_args_snv_vep}",
            '--everything --hgvsg --allow_non_variant --dont_skip --variant_class --verbose',
            '--vcf --buffer_size 20000 --max_sv_size 248956422',
            '--format vcf --offline --merged  --cache --force_overwrite'
        ].join(' ') }
    }

    withName: '.*:PROCESS_SNVS:BCFTOOLS_VIEW_CLINICAL' {
        ext.prefix = { "${meta.case_id}_SNV_clinical_filtered_bcftools" }
        ext.args   = { [
            "${params.extra_args_snv_clinical_filter}",
            ' --output-type z --write-index=tbi '
        ].join(' ') }
    }

     withName: '.*:PROCESS_SNVS:VCF_ANNOTATE_SCORE_GENMOD:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.case_id}_SNV_score_genmod" }
     }
}
