/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*PROCESS_SNVS:VCFANNO' {
        ext.prefix = { "${meta.id}_vcfanno" }
        publishDir = [
            path: { "${params.outdir}/vcfanno" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_RESEARCH' {
      ext {
         prefix = { "${meta.id}_research" }
         args = """ --output-type z --write-index=tbi --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == ".")' """
         //args = """ --output-type z --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == ".") && (INFO/SWEGENAF <= 0.01 || INFO/SWEGENAF == ".")' """
         //TO DO down the line: use above filtering parameters when annotation is in place
         // modules.config takes preference over test.config, and we currently dont have support for SWEGEN filtering in test profile, thus for now, we need to remove these from the filtering until this is in place.
      }
      publishDir = [
            path: { "${params.outdir}/research_filtering" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
   }

    withName: '.*PROCESS_SNVS:ENSEMBLVEP_VEP' {
        ext.prefix = { "${meta.id}_vep" }
        ext.args = { [
            '--everything --hgvsg --allow_non_variant --dont_skip --variant_class --verbose',
            '--vcf --buffer_size 20000 --max_sv_size 248956422',
            '--format vcf --offline --merged  --cache --force_overwrite'
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/vep" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_CLINICAL' {
      ext {
         prefix = { "${meta.id}_clinical" }
         args = """ --output-type z --write-index=tbi --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == ".")' """
         //args = """ --output-type z --include '(INFO/ArtefactFrq <= 0.1 || INFO/ArtefactFrq == ".") && (INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == ".") && (INFO/SWEGENAF <= 0.01 || INFO/SWEGENAF == ".") && (INFO/Frq <= 0.007 || INFO/Frq == ".")' """
         //TO DO down the line: use above filtering parameters when annotation is in place
        // modules.config takes preference over test.config, and we currently dont have support for SWEGEN or ArtefactFrq filtering in test profile, thus for now, we need to remove these from the filtering until this is in place.
      }
      publishDir = [
            path: { "${params.outdir}/clinical_filtering" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
   }

}
