/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for STANDARDISE_ESVEE_VCF
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: '.*:STANDARDISE_ESVEE_VCF:STANDARDISE_ESVEE_RECORDS' {
        ext.prefix = { "${meta.id}.standardised" }
    }

    withName: '.*:STANDARDISE_ESVEE_VCF:HTSLIB_BGZIPTABIX' {
        ext.prefix = { "${meta.id}.standardised" }
        ext.args2  = '-p vcf'
    }
}
