/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName:'.*VCF_ANNOTATE_SCORE_GENMOD:GENMOD_SCORE' {
         ext.args = { [
            "--family_id ${meta.id}",
            "--rank_results"
         ].join(' ') }
   }

    withName: '.*:VCF_ANNOTATE_SCORE_GENMOD:BCFTOOLS_VIEW' {
        ext.args = { [
            "--output-type z",
            "--write-index tbi"
         ].join(' ') }
    }

}
