process {

    withName: 'PROCESS_CNVS:PREPARE_AMBER_COBALT_FOR_GENS:PREPARE_AMBER_FOR_GENS' {
        ext.prefix = { "${meta.id}_CNV_BAF_AMBER_FOR_GENS" }
    }

    withName: 'PROCESS_CNVS:PREPARE_AMBER_COBALT_FOR_GENS:PREPARE_COBALT_FOR_GENS' {
        ext.prefix = { "${meta.id}_${meta.sample_type}_CNV_COV_COBALT_FOR_GENS" }
    }

    withName: 'PROCESS_CNVS:RMARKDOWNNOTEBOOK' {
        ext.prefix = { "${meta.id}_cnv_report"}
    }
}
