process {
    withName: 'PROCESS_SVS:ENSEMBLVEP_VEP' {
        ext.args = { [
            '--dir_cache cache',
            '--dir_plugins cache/Plugins',
            '--plugin pLI,pLI_values.txt',
            '--offline',
            '--vcf',
            '--compress_output bgzip',
            '--pick --pick_order mane_select,mane_plus_clinical,canonical,appris,tsl,biotype,ccds,rank,length,ensembl,refseq'
        ].join(' ') }
    }
}
