/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for STANDARDISE_ESVEE_VCF nf-test
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'STANDARDISE_ESVEE_RECORDS' {
        ext.prefix = { "${meta.id}.standardised" }
    }

    withName: 'HTSLIB_BGZIPTABIX' {
        ext.prefix = { "${meta.id}.standardised" }
    }
}
