/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Clinical-Genomics/oncorefiner -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Include all additional parameters from the base test config
includeConfig 'test_base.config'

params {
    config_profile_name        = 'Test profile - Tumor Normal testdata'
    config_profile_description = 'Minimal Tumor Normal GRCh38 test dataset to check pipeline function'

    // Metadata
    case_id             = 'test_tumor_normal_case'
    sex                 = 'female'
    sample_id_tumor     = 'test_tumor_sample'
    sample_id_normal    = 'test_normal_sample'

    snv_vcf    = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_normal/subject_a.tumor.purple.somatic.vcf.gz'
    sv_vcf     = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_normal/subject_a.tumor.purple.sv.vcf.gz'
    bam_normal = params.pipelines_testdata_base_path + 'testdata/GRCh38/subject_a.normal.redux.bam'
    bai_normal = params.pipelines_testdata_base_path + 'testdata/GRCh38/subject_a.normal.redux.bam.bai'
    bam_tumor  = params.pipelines_testdata_base_path + 'testdata/GRCh38/subject_a.tumor.redux.bam'
    bai_tumor  = params.pipelines_testdata_base_path + 'testdata/GRCh38/subject_a.tumor.redux.bam.bai'

    cnv_gene_tsv    = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_normal/subject_a.tumor.purple.cnv_gene.tsv'
    cnv_segment_tsv = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_normal/subject_a.tumor.purple.cnv_segment.tsv'
}
