/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines common test parameters and input files required for any pipeline test.
    An additional config file with input files for Tumor Normal or Tumor only test data
    is required to run a pipeline test.

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile - Tumor Normal testdata'
    config_profile_description = 'Minimal Tumor Normal GRCh38 test dataset to check pipeline function'

    input               = params.pipelines_testdata_base_path + 'testdata/samplesheet_test.csv'
    sex                 = 'female'

    genome              = 'GRCh38'
    fasta               = params.pipelines_testdata_base_path + 'reference/GRCh38/GRCh38_masked_exclusions_alts_hlas_subset.fasta'
    fai                 = params.pipelines_testdata_base_path + 'reference/GRCh38/GRCh38_masked_exclusions_alts_hlas_subset.fasta.fai'

    vep_cache           = params.pipelines_testdata_base_path + 'reference/GRCh38/vep_cache.tar.gz'
    vep_cache_version   = 115
    vep_plugin_files    = params.pipelines_testdata_base_path + 'reference/GRCh38/vep_files.csv'

    vcfanno_toml        = params.pipelines_testdata_base_path + 'reference/GRCh38/grch38_vcfanno_config.toml'
    vcfanno_resources   = params.pipelines_testdata_base_path + 'reference/GRCh38/grch38_vcfanno_resources.txt'
    vcfanno_lua         = params.pipelines_testdata_base_path + 'reference/GRCh38/vcfanno_functions.lua'

    svdb_query_dbs      = params.pipelines_testdata_base_path + 'reference/GRCh38/svdb_querydb_files.csv'

    // TODO make/insert mock input for CADD

    // Test config options
    extra_args_cadd_annotate       = '--columns Chrom,Pos,Ref,Alt,-,CADD'
    extra_args_cytosure_filter     = '--exclude \'SVTYPE=="SGL"\''
    extra_args_snv_clinical_filter = " --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == \".\")' "
    extra_args_snv_research_filter = " --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == \".\")' "
    extra_args_snv_vep             = ''
    extra_args_sv_vep              = '--pick --pick_order mane_select,mane_plus_clinical,canonical,appris,tsl,biotype,ccds,rank,length,ensembl,refseq'
}
