/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines common test parameters and input files required for any pipeline test.
    An additional config file with input files for Tumor Normal or Tumor only test data
    is required to run a pipeline test.

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile - Tumor Normal testdata'
    config_profile_description = 'Minimal Tumor Normal test dataset to check pipeline function'

    input               = params.pipelines_testdata_base_path + 'testdata/samplesheet_test.csv'
    sex                 = 'female'

    genome              = 'GRCh37'
    fasta               = params.pipelines_testdata_base_path + 'reference/reference.fasta'
    fai                 = params.pipelines_testdata_base_path + 'reference/reference.fasta.fai'

    vep_cache           = params.pipelines_testdata_base_path + 'reference/vep_cache_and_plugins.tar.gz'
    vep_cache_version   = 107
    vep_plugin_files    = params.pipelines_testdata_base_path + 'reference/vep_files.csv'

    vcfanno_toml        = params.pipelines_testdata_base_path + 'reference/vcfanno.toml'
    vcfanno_resources   = params.pipelines_testdata_base_path + 'reference/vcfanno_resources.txt'
    vcfanno_lua         = params.pipelines_testdata_base_path + 'reference/vcfanno_functions.lua'

    svdb_query_dbs      = params.pipelines_testdata_base_path + 'reference/svdb_querydb_files.csv'

    // TODO make/insert mock input for CADD
}
