/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Clinical-Genomics/oncorefiner -profile test_tumor_only,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Include all additional parameters from the base test config
includeConfig 'test_base.config'

params {
    config_profile_name        = 'Test profile - Tumor Only testdata'
    config_profile_description = 'Minimal Tumor Only GRCh38 test dataset to check pipeline function'

    snv_vcf   = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_only/subject_a.tumor.purple.somatic.vcf.gz'
    sv_vcf    = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_only/subject_a.tumor.purple.sv.vcf.gz'
    bam_tumor = params.pipelines_testdata_base_path + 'testdata/GRCh38/subject_a.tumor.redux.bam'
    bai_tumor = params.pipelines_testdata_base_path + 'testdata/GRCh38/subject_a.tumor.redux.bam.bai'

    linx_fusion_tsv    = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_only/subject_a.tumor.linx.fusion.tsv'
    linx_breakends_tsv = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_only/subject_a.tumor.linx.breakend.tsv'
    linx_sv_tsv        = params.pipelines_testdata_base_path + 'testdata/GRCh38/tumor_only/subject_a.tumor.linx.svs.tsv'

}
