process {

    withName: 'TIDDIT_COV' {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'FILTER_VCF' {
        ext.args = { [
                "${params.extra_cytosure_filter_args}",
                '--output-type v',
            ].join(' ') }
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'VCF2CYTOSURE' {
        ext{
            args = { [
                "--bins 20",
                "--sex ${params.sex}"
            ].join(' ') }
            prefix = { "${meta2.type}" }
        }
        publishDir = [
            path: { "${params.outdir}/vcf2cytosure" }
        ]
    }

}
