/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
 Defines input files and everything required to run a fast and simple pipeline test.

*/

process {

    withName: 'GENERATE_CYTOSURE_FILES:FILTER_VCF' {
        ext.prefix = { "${meta.case_id}_${meta.sample_id}_filter_vcf" }
        ext.args = { [
                "--exclude 'SVTYPE==\"SGL\"'",
                '--output-type v',
            ].join(' ') }
    }

    withName: 'GENERATE_CYTOSURE_FILES:TIDDIT_COV' {
        ext.prefix = { "${meta.case_id}_${meta.sample_id}_SV_tiddit_cov" }
    }

    withName: 'GENERATE_CYTOSURE_FILES:VCF2CYTOSURE' {
        ext.prefix = { "${meta.case_id}_${meta2.sample_id}_${meta2.sample_type}_SV_vcf2cytosure" }
        ext.args = { [
                "--bins 20",
                "--sex female",
                "--genome 38"
            ].join(' ') }
    }

}
