/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
 Defines input files and everything required to run a fast and simple pipeline test.

*/

process {

    withName: '.*GENERATE_CYTOSURE_FILES:FILTER_VCF' {
        ext.args = { [
                '--exclude \'SVTYPE=="SGL"\'',
                '--output-type v',
            ].join(' ') }
    }

    withName: '.*GENERATE_CYTOSURE_FILES:VCF2CYTOSURE' {
        ext.prefix = { "${meta2.type}" }
        ext.args = { [
                "--bins 20",
                "--sex ${params.sex}",
                "--genome ${params.genome_version_number}"
            ].join(' ') }
    }

}
